<strong>Olá, {{ entregador }}</strong>
<p>Infelizmente uma das suas entregas foi cancelada, confira os detalhes abaixo: </p>
<p>
	<strong>Produto: </strong> {{ produto }} <br />
	<strong>Data/hora:</strong> {{ data }} <br />
    <strong>Motivo:</strong> {{ motivo }} <br />
	<br/ >
	<small>
		Lembre-se de que você pode retirar outro produto para manter na meta de 5 entregas diárias.
	</small>
</p>
