<strong>Olá, {{ entregador }}</strong>
<p>Nova encomenda disponível para retidada, confira os detalhes abaixo: </p>
<p>
	<strong>Produto: </strong> {{ produto }} <br />
	<strong>Data/hora:</strong> {{ data }} <br />
	<br/ >
	<small>
		Lembre-se de retirar o produto o quanto antes, a nossa empresa só pensa em indicadores.
	</small>
</p>
